@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// MIXIN MEDIA-QUERIES
@mixin responsive($size) {
    @if $size == phone {
        @media (max-width: 599px) { @content; }
    } @else if $size == tablet {
        @media (max-width: 900px) { @content; }
    } @else if $size == desktop {
        @media (min-width: 1200px) { @content; }
    }
}

:root {
    --font-family: 'Ubuntu', sans-serif;
    --font-size: 16px;
    --title-color: rgb(58, 58, 58);
    --background-color: white;
    --bgHeader: #003459;
    --bgSearchBar: #002a45;
    --headers: #003459;
    --bgMain: #EBF9FF;
    --textColor: #00171F;
    --cardGreen: rgba(157, 255, 0, 1);
    --cardBlue: rgba(0, 174, 255, 1);
    --cardRed: rgba(255, 42, 42, 1);
    --cardYellow: rgba(255, 251, 0, 1);
    --headerMargin: .5rem 0;
    --box-shadow: 0 1rem 1rem -0.75rem rgb(105 96 215 / 18%);
    --wrap-first-column: 14rem;
    --nav-txt-color: #5c5c5c;
    ;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    height: 100%;
    min-height: 100%;
    background-color: var(--background-color);
    line-height: 1.3;
    letter-spacing: -.04rem;

}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1.7;
}

p {
    font-size: .9rem;
}

a{
    text-decoration: none;

    &, &:visited{
        color: var(--nav-txt-color);
    }
    &:hover{
        text-decoration: underline;
    }
    
}


// USEFUL CLASSES


.flex {
    display: flex
}

.grid {
    display: grid;
}


// CARDS


.cards {
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: .4rem;
    padding: .7rem;
}

.mincard {
    width: auto;
    min-height: 10rem;
    background-color: white;
}

.col-span2 {
    grid-column: span 2;
}

.bg-cardBlue {
    background-color: var(--cardBlue);
}

.bg-cardGreen {
    background-color: var(--cardGreen);
}

.bg-cardYellow {
    background-color: var(--cardYellow);
}

.bg-cardRed {
    background-color: var(--cardRed);
}


// CONTENT SPACING


$element-mb: 2rem;

.el-spc {
    margin: {
        left: .5rem;
        right: .5rem;
        bottom: $element-mb;
    }

}


// DASHBOARD STRUCTURE 

#wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    background-color: var(--bgMain);
    min-height: 100%;

    &.show::before{
        content: "";
        position: fixed;
        background-color: black;
        opacity: .5;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
}


.brand img {
    display: block;
    max-width: 177px;
    max-height: 35px;
    width: auto;
    height: auto;
}


// HEADER & FOOTER


header {
    grid-column: span 2;
    column-span: all;
    background: var(--bgHeader);
    justify-content: flex-end;
}

.brand {
    height: fit-content;
    width: 12.5rem;
    align-items: center;
    margin: var(--headerMargin);
    margin-right: auto;
}
header>div+div {
    height: fit-content;
    width: auto;
    align-items: center;
    margin: var(--headerMargin);
    margin: auto .5rem;
}

.mininav{
    color: white;
    width: max-content;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;

    @include responsive(tablet){
        display: inline-block;
        &>:first-child{
            visibility: hidden;
        }
    }
    @include responsive(phone){
        &>:first-child{
            visibility: visible;
        }
    }
    

    &>label{
        display: inline-block;
        line-height: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        text-align: center;
    }
}

footer {
    //  background-color: white;
    width: 100%;
    grid-column: span 2;
    justify-content: center;
    text-align: center;
    font-size: .7rem;
    padding: 5px;
}


// ASIDE

aside {
    min-width: var(--wrap-first-column);
    background-color: white;
    box-shadow: var(--box-shadow);
    z-index: 10;
    flex-direction: column;
    display: flex;
    transition: left .5s ease;  
    
    &.show{
        left: 0;
    }


    @include responsive(tablet){
        inset: 0 auto;
        position: absolute;
        top: 0;
        left: calc(var(--wrap-first-column) * -1);
        
    }
    
    &>*{
        margin: 1rem 2rem;
        font-size: .87rem;

        & h3{
            font-weight: bold;
            padding: .5rem 0;
        }
    }
}


// NAV


.mainnav {

    &>li {
        &>ul {
            padding-left: 2rem;
            margin-left: .5rem;
            border-left: 1px dashed gray;

            & li {
                line-height: 2rem;
                display: block;
            }
        }

        &>a {
            display: block;
            line-height: 2rem;
            position: relative;
            font-weight: bold;

            &,
            &:visited {
                color: var(--nav-txt-color);
            }

            &:hover {
                text-decoration: none;
            }

            &>i {
                font-size: 1.1rem;

                &:hover {
                    text-decoration: none;
                }
            }

            &>span {
                margin-left: .5rem;
            }
        }
    }

    & li>.colapsed {
        display: none;
    }

    & li>.colapsed.show {
        display: block;
    }
}


// CONTENT


header+div {
    width: 100%;
    position: relative;
}


main {
    width: inherit;

    &>section:not(#home-content-header) {
        gap: .5rem;
    }
}

// MAIN HEADER

$highlight-spacing: 1rem;

section#home-content-header {
    flex-direction: column;

    &>section {
        background-color: var(--bgHeader);
        color: white;
        padding: $highlight-spacing;

        &.homescreen:after {
            content: "";
            display: block;
            height: 5rem;
            width: 100%
        }

        &.homescreen+div.boxed {
            margin-top: -4rem;
        }

        & div {

            & h2 {
                font-size: 2.2rem;
            }

            & h3 {
                font-size: 1rem;
            }

            &>p {
                color: rgb(180, 180, 180);
            }
        }
    }

    & div.boxed {
        z-index: 1;
        margin: 0 $highlight-spacing;
        flex-wrap: wrap;

        @include responsive(desktop){
            gap: 1rem;
        }


        &>section {
            box-shadow: var(--box-shadow);
            margin-bottom: $element-mb;
        }

        & section.grid {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: min-content 1fr;
            gap: .7rem;

            @include responsive(phone){
                grid-template-columns: 1fr;
                &>.col-span2{
                    grid-column: span 1;
                }
            }
        }

        & section.grid:first-child {
            width: 100%;

            @include responsive(desktop) {
                width: 55%;
               
            }

        }

        & section.grid:nth-child(2) {
            width: 100%;
            @include responsive(desktop) {
                width: 43.4%;
            }
            &>:not(:nth-child(1n+5)) {
                border-radius: .5rem;
            }
        }

    }
}


// FORMS SETTINGS 
// LOGIN FORM

form#loginForm {
    min-width: 250px;
    position: relative;

    >div {
        position: relative;
        border: 1px solid #ccc;
        margin: 2px;

        >label {
            opacity: 0.5;
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 1rem;
            transition: all 100ms linear;
        }

        >input {
            width: 100%;
            border: 0;
            padding: 20px 20px 20px 20px;
            font-size: 1rem;

            &:focus {
                outline: 0;
                padding: 25px 20px 15px 20px;
            }

            &:not(:placeholder-shown) {
                &:not([type="submit"]) {
                    outline: 0;
                    padding: 25px 20px 15px 20px;
                }
            }

            &:focus+label {
                font-size: .75rem;
                top: 5px;
                left: 5px;
            }

            &:not(:placeholder-shown)+label {
                font-size: .75rem;
                top: 5px;
                left: 5px;
            }
        }

        >input[type="submit"] {
            box-shadow: inset 0px 1px 0px 0px #54a3f7;
            background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
            background-color: #007dc1;
            border-radius: 3px;
            border: 1px solid #124d77;
            display: inline-block;
            text-decoration: none;
            text-shadow: 0px 1px 0px #154682;
            color: white;
            margin-top: 10px;
            margin-top: 0;

            &:hover {
                background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
                background-color: #0061a7;
                cursor: pointer;
            }

            &:active {
                position: relative;
                top: 1px;
            }
        }
    }
}


// SEARCH FORM 

form#search {
    &.show{
        top:.5rem;
        z-index: 10;
    }
    @include responsive(phone){
        position: absolute;
        top: -2.5rem;
        left: 0;
        width: 100%;
        transition: top .15s ease-out;
        
    }
    >div {
        position: relative;
        margin-left: 10px;
        
        @include responsive(phone){
            margin-right: 10px;
        }

        >input {
            width: 20vw;
            transition: width .5s .25s ease, background-color .5s .25s ease;
            border: 0;
            padding: .5rem 1.5rem .5rem .75rem;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            border-radius: .9rem;

            @include responsive(phone){
                background-color: var(--bgSearchBar);
                width: 100%;
                padding: {
                    top: .7rem;
                    bottom: .7rem;
                }
                
            }

            &:placeholder-shown {
                font-style: italic;
            }

            &:focus {
                width: 35vw;
                outline: none;
                background-color: var(--bgSearchBar);
                @include responsive(phone){
                    width: 100%;
                }

                &+label {
                    opacity: 0;
                }

                &+label+span {
                    opacity: .7;
                }
               
            }
        }

        >label {
            position: absolute;
            top: .4rem;
            left: 10px;
            display: block;
            color: white;
            opacity: .5;
            font-style: italic;
            font-size: 1rem;
            transition: opacity .5s .25s ease;
            cursor: text;
        }

        >span {
            position: absolute;
            top: .4rem;
            right: 5px;
            display: block;
            color: white;
            opacity: 0;
            transition: opacity .5s .25s ease;
        }
    }
}


// LOGIN STRUCTURE 


#container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    gap: 2rem;
}

.login>div {
    
    &:first-child{
        margin-top: auto;
    }

    &>div {
        &>* {
            margin: .5rem;
        }

        &>h3 {
            font-size: .9rem;
        }

    }
}

.login div {
    flex-direction: row;
    gap: 30px;
}

.login footer {
    margin-top: auto;
}

div#imglogo {
    align-items: center;
}

div#imglogo img {
    display: block;
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
}
