/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --font-family: 'Ubuntu', sans-serif;
    --font-size: 16px;
    --title-color: rgb(58, 58, 58);
    --background-color: white;
    --bgHeader: #003459;
    --bgSearchBar: #00171f59;
    --headers: #003459;
    --bgMain: #EBF9FF;
    --textColor: #00171F;
    --cardGreen: rgba(157, 255, 0, 1);
    --cardBlue: rgba(0, 174, 255, 1);
    --cardRed: rgba(255, 42, 42, 1);
    --cardYellow: rgba(255, 251, 0, 1);
    --headerMargin: .5rem 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    height: 100%;
    min-height: 100%;
    background-color: var(--background-color);
    line-height: 1.3;
    letter-spacing: -.065rem;

}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1.7;
}

// common classes

.flex {
    display: flex
}

.grid {
    display: grid;
}

// SITE STRUCTURE 

// LOGIN STRUCTURE 
#container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    gap: 2rem;
}

.login>div {
    margin-top: auto;
    text-align: center;

    &>div{
        & >*{
            margin: .5rem;
        }
        & > h3{
            font-size: .9rem;
        }

    }
}

.login main {
    flex-direction: row;
    gap: 30px;
}

.login footer {
    margin-top: auto;
    text-align: center;
    font-size: .7rem;
}

div#imglogo {
    align-items: center;
}

div#imglogo img {
    display: block;
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
}

// LAYOUT STRUCTURE 

.brand img {
    display: block;
    max-width: 177px;
    max-height: 35px;
    width: auto;
    height: auto;
}

#wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    background-color: var(--bgMain);
}


// HEADER


header {
    grid-area: 1 / 1 / 1 / 3;
    background: var(--bgHeader);
}

header>div {
    height: fit-content;
    width: 12.5rem;
    align-items: center;
    margin: var(--headerMargin);
}


// NAV


nav {
    grid-column: 1 / 2;
    width: 14rem;
    background-color: white;
    box-shadow: 0 1rem 1rem -0.75rem rgb(105 96 215 / 18%)
}


// HIGHLIGHT


section#highlight {
    flex-direction: column;

    &>section {
        height: 15rem;
        background-color: var(--bgHeader);
        color: white;
        padding: 1rem;

        & div {
            
            & h2 {
                font-size: 2.0rem;
                margin: 0;
            }

            & h3 {
                font-size: 1rem;
            }

            &>p {
                color: rgb(180, 180, 180);
            }
        }
    }

    & div.boxed {
        grid-template-columns: 1fr .75fr;
        margin: {
            top: -4rem;
            left: 1rem;
            right: 1rem;
        };
        gap: .5rem;
        
        
        & section.grid{
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: min-content 1fr;
            gap: .7rem;
            padding: .7rem;

            
        }
        &>section.highlightBoxed {
            border-radius: 15px;
            z-index: 1;
            background-color: white;
            box-shadow: 0 1rem 1rem -0.75rem rgb(105 96 215 / 18%);
           
        }
        & section.grid:nth-child(2){
            &:nth-child(2n){
                margin-top: -.5rem;
            }
        }
        
    }
}

.card {
    width: auto;
    min-height: 10rem;
    border-radius: 10px;
    background-color: white;
}
.col-span2{
    grid-column: span 2;
}
.bg-cardBlue{
    background-color: var(--cardBlue);
}
.bg-cardGreen{
    background-color: var(--cardGreen);
}
.bg-cardYellow{
    background-color: var(--cardYellow);
}
.bg-cardRed{
    background-color: var(--cardRed);
}

.lastcard{
    box-shadow: 0 1rem 1rem -0.75rem rgb(105 96 215 / 18%);
    margin-bottom: -.5rem;
}

// FORMS SETTINGS 


// LOGIN FORM

form#loginForm {
    min-width: 250px;
    position: relative;
}

form#loginForm>div {
    position: relative;
    border: 1px solid #ccc;
    margin: 2px;
}

form#loginForm>div>label {
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: .8rem;
    transition: all 100ms linear;
}

form#loginForm>div>input {
    width: 100%;
    border: 0;
    padding: 20px 20px 20px 20px;
    font-size: .8rem;
}

form#loginForm>div>input:focus,
form#loginForm>div>input:not(:placeholder-shown):not([type="submit"]) {
    outline: 0;
    padding: 25px 20px 15px 20px;
}

form#loginForm>div>input:focus+label,
form#loginForm>div>input:not(:placeholder-shown)+label {
    font-size: .5rem;
    top: 5px;
    left: 5px;
}

form#loginForm>div>input[type="submit"] {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    color: white;
    margin-top: 10px;
}

form#loginForm>div>input[type="submit"]:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
    cursor: pointer;
}

form#loginForm>div>input[type="submit"]:active {
    position: relative;
    top: 1px;
}

form#loginForm>div>input[type="submit"] {
    margin-top: 0;
}

// SEARCH FORM 

form#search {
    >div {
        position: relative;
        margin-left: 10px;

        >input {
            width: 20vw;
            transition: width .5s .25s ease, background-color .5s .25s ease;
            border: 0;
            padding: .5rem 1.5rem .5rem .75rem;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            border-radius: .9rem;
            
            &:placeholder-shown {
                font-style: italic;
            }

            &:focus {
                width: 35vw;
                outline: none;
                background-color: var(--bgSearchBar);

                &+label {
                    opacity: 0;
                }

                &+label+span {
                    opacity: .7;
                }
            }
        }

        >label {
            position: absolute;
            top: .4rem;
            left: 10px;
            display: block;
            color: white;
            opacity: .5;
            font-style: italic;
            font-size: 1rem;
            transition: opacity .5s .25s ease;
            cursor: text;
        }

        >span {
            position: absolute;
            top: .4rem;
            right: 5px;
            display: block;
            color: white;
            opacity: 0;
            transition: opacity .5s .25s ease;
        }
    }
}