@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --font-family: 'Questrial', sans-serif;
    --font-size: 20px;
    --title-font: 'Questrial', sans-serif;
    --title-color: rgb(58, 58, 58);
    --background-color: white;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    height: 100%;
    min-height: 100%;
    background-color: var(--background-color);

}

* {
    box-sizing: border-box;
}

/* SITE STRUCTURE */

/* LOGIN STRUCTURE */

#container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}


.login header {
    margin-bottom: auto;
    text-align: center;
}

.login header h3 {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 1rem;
}

.login main {
    flex-direction: row;
    gap: 30px;
}

.login footer {
    margin-top: auto;
    text-align: center;
    font-size: .7rem;
}

div#imglogo {
    align-items: center;
}

div#imglogo img {
    display: block;
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
}

/* MAIN STRUCTURE */

.brand img{
    display: block;
    max-width: 177px;
    max-height: 35px;
    width: auto;
    height: auto;
}
#wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
}

/* SPECIFIC FORMS SETTINGS */

/* LOGIN FORM */
form#loginForm {
    min-width: 250px;
    position: relative;
}

form#loginForm>div {
    position: relative;
    border: 1px solid #ccc;
    margin: 2px;
}

form#loginForm>div {
    position: relative;
    border-bottom: 2px solid #ccc;
    /* margin: 2px; */
}

form#loginForm>div>label {
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: .8rem;
    transition: all 100ms linear;
}

form#loginForm>div>input {
    width: 100%;
    border: 0;
    padding: 20px 20px 20px 20px;
    font-size: .8rem;
}

form#loginForm>div>input:focus,
form#loginForm>div>input:not(:placeholder-shown):not([type="submit"]) {
    outline: 0;
    padding: 25px 20px 15px 20px;
}

form#loginForm>div>input:focus+label,
form#loginForm>div>input:not(:placeholder-shown)+label{
    font-size: .5rem;
    top: 5px;
    left: 5px;
}

form#loginForm>div>input[type="submit"] {
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    color: white;
    margin-top: 10px;
}

form#loginForm>div>input[type="submit"]:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
    cursor: pointer;
}

form#loginForm>div>input[type="submit"]:active {
    position: relative;
    top: 1px;
}

form#loginForm>div>input[type="submit"]{
    margin-top: 0;
}

/* SEARCH FORM */

form#search div input{
    width: 20vw;
    transition: width .5s .25s ease, background-color .5s .25s ease;;
}

form#search div input:placeholder-shown {
    font-style: italic;
}

form#search div input:focus{
    width: 32vw;
}
